/* body * {
	border: 1px solid red;
} */
body {
	cursor: default;
	height: 100%;
	margin: 0;
	color: #000000;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 30px;
	text-align: left;
	font-style: normal;
	letter-spacing: 0.15px;
	line-height: normal;
}

/* body * {
	border: 1px solid red;
} */

a {
	text-decoration: none;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

.logo-header {
	position: absolute;
	top: -21px;
	left: 60px;
	z-index: 1;
	opacity: 1;
}

.logo-header:hover {
	opacity: 0.6;
}

.logo-header:active {
	opacity: 0.3;
}

header {
	height: auto;
	background: rgb(247, 226, 159);
	margin: 40px 140px 0;
	position: absolute;
	width: 80%;
	z-index: 2;
}

.search {
	display: inline-block;
}

.search img {
	line-height: 10px;
}

.search_button {
	position: absolute;
	top: 22px;
	left: 420px;
	box-sizing: border-box;
	display: flex;
	align-items: center;

	width: 85px;
	height: 49px;
	border: 2px solid #000000;
	padding: 17px 19px;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.15px;
	cursor: pointer;
}

.search_button:hover {
	background-color: #000000;
}

.search_button:hover > a {
	color: #ffffff;
}
.search_button:active,
.search_button:focus {
	background-color: #000000;
	display: flex;
}

.search_button:active > a {
	color: #ffffff;
	opacity: 0.3;
}

.search_line {
	position: absolute;
	background: #000000;
	width: 441px;
	height: 2px;
	border: none;
	margin: 14px 0 0;
}

.search_onfocus {
	display: none;
}

.search_text {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	outline: none;
	border: none;
	background: rgba(240, 197, 46, 0);
	color: #000000;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 30px;
	font-style: normal;
	letter-spacing: 0.15px;
	line-height: normal;
}

.search_text:focus {
	border: none;
	color: #000000;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 30px;
	text-align: left;
	font-style: normal;
	letter-spacing: 0.15px;
	line-height: normal;
}

.search_text:focus + .search_onfocus {
	display: contents;
}
.search_text::placeholder {
	opacity: 0.3;
	color: #000000;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.15px;
}

.search_text:hover::placeholder {
	opacity: 0.6;
}

.header-container a {
	color: #000000;
}

.header-container_upper-menu a {
	opacity: 1;
}

.header-container_upper-menu a:hover {
	opacity: 0.6;
}

.header-container_upper-menu a:active {
	opacity: 0.3;
}

.header-container_upper-menu a > img {
	margin-right: 12px;
}

.header-container_upper-menu {
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 53%;
	flex-wrap: wrap;
	gap: 40px;
}

.header-container_upper-menu > li {
	position: absolute;
	left: 0;
}

.header-container_upper-menu li {
	margin-top: 0;
}

.header-container_upper-menu_right {
	display: flex;
	justify-content: flex-end;
	position: relative;
	gap: 40px;
	flex-wrap: wrap;
}

.header-container {
	padding: 53px 63px;
	margin-top: -20px;
}

.header-container_center-menu {
	margin-top: 55px;
}

.slide-text:before {
	content: url("images/header-line.png");
	position: relative;
	top: 15px;
	left: 10px;
}

#slide-text--1:after {
	content: url("images/01.png");
	position: relative;
	top: -475px;
	left: 405px;
}

#slide-text--2:after {
	content: url("images/02.png");
	position: relative;
	top: -475px;
	left: 380px;
}

#slide-text--3:after {
	content: url("images/03.png");
	position: relative;
	top: -470px;
	left: 375px;
	z-index: -1;
}

/* .decoration_header-number-2:before {
	content: url("images/02.png");
}

.decoration_header-number-3:before {
	content: url("images/03.png");
} */

.header-container_center-menu-left {
}

#plus {
	margin-left: 16px;
}
.header-container_center-menu-left:hover .catalog-options {
	display: flex;
}

.catalog-options {
	margin-top: 20px;
	margin-bottom: -8px;
	display: none;
	gap: 47px;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.15px;
}

.catalog-options li:hover {
	opacity: 0.6;
}

.catalog-options li:active {
	opacity: 0.3;
}

.header-container_center-menu-right {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 53%;
	gap: 40px;
}

.header-container_center-menu-right li:last-child {
	position: absolute;
	right: 0;
}

footer {
	height: 323px;
	width: 100%;
	background-color: #464646;
	margin-bottom: 0;
	bottom: 0;
}

.footer-container {
	padding: 65px 140px;
	display: flex;
	flex-direction: column;
}

.logo {
	width: 163px;
	height: 35px;
	color: #ffc600;
	cursor: pointer;
}

.logo:hover {
	opacity: 0.6;
}

.logo:active {
	opacity: 0.3;
}

.footer-container_upper {
	display: flex;
	justify-content: space-between;
}

p,
span,
a {
	opacity: 1;
	color: #000000;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 30px;
	text-align: left;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

footer p,
footer span,
footer a {
	opacity: 0.7;
	color: #ffffff;
}

.small-menu_text {
	line-height: 36px;
	letter-spacing: 0.15px;
	opacity: 0.7;
}

a.small-menu_text:hover {
	opacity: 1;
}

a.small-menu_text:active {
	opacity: 0.3;
}

.small-menu_logo {
	width: 12px;
	height: 12px;
	margin-right: 15px;
}

.small-menu {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
}

.small-menu_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 40px;
}

.small-manu:last-child {
	margin-right: 0;
}

.large-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	padding: 0;
	margin: 0;
	max-width: 800px;
}

.large-menu li {
	list-style: none;
}

.large-menu_text {
	color: #ffffff;
	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: left;
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 3.6px;
	line-height: normal;
}

.large-menu_text:hover {
	opacity: 0.6;
}

.large-menu_text:active {
	opacity: 0.3;
}

.footer-container_center {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.footer-container_bottom {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 70px;
}

.social-links {
	display: flex;
	gap: 23px;
}

.social-links svg {
	opacity: 0.3;
}

.social-links svg:hover {
	opacity: 0.6;
}

.social-links svg:active {
	opacity: 0.1;
}

.bottom-line {
	height: 7px;
	width: 80px;
}

.body {
	min-height: 600px;
}

.slider {
	position: relative;
	width: 80%;
	top: 225px;
	left: 140px;
	background: linear-gradient(
		180deg,
		rgb(247, 226, 159) 0% 20%,
		transparent 20% 100%
	);
	z-index: 1;
}

.slide_description {
	width: 53%;
	position: relative;
	z-index: 1;
	top: 30px;
}

.slide-text_header {
	font-family: "Gilroy - Extra Bold";
	font-size: 47px;
	font-weight: 400;
	line-height: 56px;
	letter-spacing: 0.17px;
}

.slider > slide .slide-text_header {
	margin-bottom: 30px;
}

.slider > slide .slide-text_main {
	margin-bottom: 60px;
}

.slide-text_main {
	max-width: 471px;
	color: #464646;
}

.slide-text_more {
	cursor: pointer;
	text-align: center;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 35%,
		rgba(240, 197, 46, 1) 35%,
		rgba(240, 197, 46, 1) 65%,
		rgba(255, 255, 255, 1) 65%
	);
}

.slide-text_more--catalog {
	background: linear-gradient(
		180deg,
		rgba(238, 238, 238, 1) 35%,
		rgba(240, 197, 46, 1) 35%,
		rgba(240, 197, 46, 1) 65%,
		rgba(238, 238, 238, 1) 65%
	);
}

#writeUsPopup:target {
	display: flex;
}

#close {
	width: 55px;
	height: 55px;
	position: absolute;
	right: 15px;
	top: 15px;
}

#map-popup img {
	display: block;
}

#close:active #writeUsPopup {
	display: none;
}

.slider > .slide .slide-text_more {
	margin-bottom: 70px;
	width: 220px;
	height: 40px;
	line-height: 40px;
}

.slide-text_more > a {
	color: #000000;
	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 2.15px;
	line-height: normal;
}

.slide-text_more > a:hover {
	background: rgba(240, 197, 46, 1);
}
.company .slide-text_more {
	width: 215px;
	height: 40px;
	line-height: 40px;
}

.slide-text_more--catalog {
	width: 215px;
	height: 40px;
	line-height: 40px;
}

.slide-text_more:hover {
	background: rgba(240, 197, 46, 1);
}

.company .slide-text_more--catalog:hover {
	background: rgba(240, 197, 46, 1);
}

.slide-text_more:active > a {
	opacity: 0.3;
}

.slide_image {
	position: relative;
	left: 80px;
}

.slide-text_stats {
	display: flex;
	gap: 75px;
}

.slide-text_stats--large {
	margin: 0 0 10px;
	width: max-content;
	font-family: "Gilroy - Regular";
	font-size: 36px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 48px;
	text-align: left;
	font-style: normal;
	letter-spacing: 0.36px;
	line-height: normal;
}

.slide-text_stats--small {
	margin: 0;
	width: max-content;
	color: #464646;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 20px;
	text-align: left;
	font-style: normal;
	letter-spacing: 0.13px;
	line-height: normal;
}

#slide-3 img {
	width: 526px;
	height: 334px;
	position: relative;
	top: 70px;
	left: 20px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.slide {
	display: none;
}

.nav-dot:checked + label + .slide {
	display: flex;
	/* gap: 185px; */
	justify-content: space-between;
	width: 100%;
}

.nav-dot + #card-label-1 {
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: 1025px;
	top: 325px;
	z-index: 2;
}

.nav-dot + #card-label-2 {
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: 1050px;
	top: 325px;
	z-index: 2;
}

.nav-dot + #card-label-3 {
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: 1075px;
	top: 325px;
	z-index: 2;
}

.nav-dot {
	display: none;
	width: 0;
	height: 0;
}

.nav-dot + label:before {
	position: absolute;
	cursor: pointer;
	background: #ffffff;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #464646;
	content: " ";
	box-sizing: border-box;
}

.nav-dot:checked + label:after {
	cursor: pointer;
	position: absolute;
	left: 3.5px;
	top: 3.5px;
	content: " ";
	width: 5px;
	height: 5px;
	border: 1px solid #464646;
	border-radius: 50%;
	box-sizing: border-box;
}

.blocks {
	display: flex;
	justify-content: space-between;
	margin: 340px 140px 0;
	gap: 40px;
}

.brands {
	display: flex;
	justify-content: space-between;
	margin: 94px 140px 0;
}

.block,
.brand {
	display: block;
}

.block:hover .block_image {
	background: rgba(240, 197, 46, 1);
}

.block:active .block_image {
	background: rgba(240, 197, 46, 1);
	opacity: 0.3;
}

.block:active p {
	opacity: 0.3;
}

.brand--first:hover {
	background-image: url("images/logo-1_copy.png");
}

.brand--second:hover {
	background-image: url("images/logo-2_copy.png");
}

.brand--third:hover {
	background-image: url("images/logo-3_copy.png");
}

.brand--forth:hover {
	background-image: url("images/logo-4_copy.png");
}

.block_image {
	width: 160px;
	height: 160px;
	background: rgb(247, 226, 159);
	display: flex;
	align-items: center;
	justify-content: center;
}

.blocks .bold-text {
	margin-top: 40px;
	color: #000000;
	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.18px;
}

.middle-slider {
	display: flex;
	margin-top: 184px;
	width: 100%;
	height: 288px;
	background-color: #e5e5e5;
}

.nav-button {
	display: none;
	width: 0;
	height: 0;
}

.middle-slider_buttons {
	display: flex;
	flex-direction: column;
	padding-left: 145px;
	gap: 40px;
}

.nav-button + label {
	cursor: pointer;
	color: #000000;
	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2.15px;
	text-align: center;
	width: 160px;
	height: 40px;
	line-height: 40px;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(229, 229, 229, 1) 35%,
		rgba(240, 197, 46, 1) 35%,
		rgba(240, 197, 46, 1) 65%,
		rgba(229, 229, 229, 1) 65%
	);
}

.nav-button + label:hover {
	background: rgba(240, 197, 46, 1);
}

.nav-button + label:active {
	background: #000000;
	color: #f7e184;
}

.nav-button:checked + label {
	width: 278px;
	height: 40px;
	background: #000000;
	color: #f7e184;
	text-align: left;
	padding-left: 27px;
	box-sizing: border-box;
}

.nav-button:checked + label + .middle-slider_slide {
	display: flex;
	align-items: flex-start;
	gap: 132px;
	padding-left: 116px;
	border-left: 7px solid black;
	height: 319px;
	position: absolute;
	left: 420px;
	top: 1320px;
}
.middle-slider_slide {
	display: none;
}

.middle-slider_slide .slide-text_main {
	max-width: 426px;
}

.middle-slider_slide_image {
	position: relative;
	top: 50px;
	width: 136px;
	height: 164px;
}

.company {
	display: flex;
	gap: 150px;
	margin: 93px 140px 93px;
	height: 562px;
	box-sizing: border-box;
}

.company_about-us,
.company_contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.company_about-us:before {
	content: "";
	width: 80px;
	height: 7px;
	background-color: #000000;
}

.company_contacts:before {
	content: "";
	width: 80px;
	height: 7px;
	background-color: #000000;
}

.company .slide-text_header,
.company .slide-text_main {
	margin: 0;
}

.company_about-us > ul > li:before {
	content: "";
	border-radius: 50%;
	width: 5px;
	height: 5px;
	border: 2px solid #e5e5e5;
	position: absolute;
	left: 0;
}

.company_about-us p {
	max-width: 471px;
}

.company .bold-text {
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: relative;
	top: -20px;
}

.company > .company_about-us .bold-text li {
	padding-left: 35px;
	display: flex;
	align-items: center;
}

#map-popup {
	background-image: url("images/map-big.png");
	display: none;
	width: 960px;
	height: 559px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 10;
	margin-top: -279.5px;
	margin-left: -480px;
}

#writeUsPopup {
	background: white;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 11;
	margin-top: -276.5px;
	margin-left: -480px;
	width: 960px;
	height: 553px;
	padding: 90px;
	box-sizing: border-box;
	box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.write-us-popup input[type="text"] {
	width: 350px;
	height: 50px;
	opacity: 0.5;
}

.write-us-popup textarea {
	width: 760px;
	height: 156px;
	opacity: 0.5;
}

.write-us-popup input[type="text"],
.write-us-popup textarea {
	background: #e5e5e5;
	border: none;
	padding-left: 20px;
}

.write-us-popup textarea {
	padding-top: 20px;
}

.slide-text_more input[type="submit"] {
	border: none;
	cursor: pointer;
	color: #000000;
	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2.15px;
	text-align: center;
	width: 160px;
	height: 40px;
	line-height: 40px;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 35%,
		rgba(240, 197, 46, 1) 35%,
		rgba(240, 197, 46, 1) 65%,
		rgba(255, 255, 255, 1) 65%
	);
}

.slide-text_more--catalog input[type="submit"] {
	background: linear-gradient(
		180deg,
		rgba(238, 238, 238, 1) 35%,
		rgba(240, 197, 46, 1) 35%,
		rgba(240, 197, 46, 1) 65%,
		rgba(238, 238, 238, 1) 65%
	);
}

.slide-text_more input[type="submit"]:hover {
	background: rgba(240, 197, 46, 1);
}

.write-us-popup_text {
	display: flex;
	gap: 40px;
}

.write-us-popup .bold-text {
	color: #000000;
	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

#map-popup:target {
	display: flex;
}
@media not all and (min-resolution: 0.001dpcm) {
	@media {
		.slider--safari {
			top: 229px;
		}
	}
}

.filters {
	display: flex;
	flex-direction: column;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 48px;
	margin-bottom: 25px;
}
.card_buttons {
	border-radius: 5px 5px 0 0;
	height: 40px;
	background-color: #4d4d4d;
	opacity: 0.12;
	display: flex;
	line-height: 40px;
	vertical-align: middle;
	padding-left: 10px;
	padding-top: 10px;
	box-sizing: border-box;
}
.card_buttons label {
	margin-right: 20px;
}
.card_buttons label:before {
	width: 14px;
	height: 14px;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card_buttons input:checked + label:after {
	display: none;
}
.card {
	background: #ffffff;
	border-radius: 5px;
	margin-bottom: 30px;
	position: relative;
}

.card:hover .card_buttons {
	opacity: 1;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card:hover {
	box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}
.card:hover .card_name {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-end;
	justify-content: space-between;
}
.card_image {
	width: 358px;
	height: 578px;
	border-radius: 0 0 5px 5px;
}
.card_name {
	/* margin-top: 349px; */
	border-radius: 0 0 5px 5px;
	width: 360px;
	height: 231px;
	width: 100%;
	background-color: #eeeeee;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: none;
	box-sizing: border-box;
	padding: 26px 0 44px 0;
}
.card_name p {
	max-width: 255px;
	text-align: center;
}
.card_name * {
	margin: 0;
}
.catalog_content {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}
.left-filters form {
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 70px;
}
.fslider {
	width: 260px;
	height: 80px;
	background: #eeeeee;
	border-radius: 3px;
	margin-left: -20px;
}

.fslider_circle {
	cursor: pointer;
	z-index: 1;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ffffff;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
}
.fslider_circle--first {
	position: relative;
	left: 18px;
	top: 30px;
}
.fslider_circle--second {
	position: relative;
	left: 150px;
	top: 10px;
}
.fslider_circle_small {
	width: 4px;
	height: 4px;
	background: #ababab;
	border-radius: 50%;
}

.fslider_circle_small--first {
	position: relative;
	left: 8px;
	top: 8px;
}
.fslider_circle_small--second {
	position: relative;
	left: 8px;
	top: 8px;
}
.fslider_line {
	z-index: 0;
	position: relative;
	left: 30px;
	width: 138px;
	height: 2px;
}
.fslider_line--green {
	background: #00ca74;
}
.fslider_line--gray {
	width: 75px;
	position: relative;
	top: -2px;
	left: 160px;
	background: #d7dcdf;
}

.price-range {
	display: flex;
	justify-content: space-between;
	margin-top: -25px;
	width: 180px;
}
.price-range label {
	margin-right: 8px;
	opacity: 0.2;
	color: #000000;
	font-family: "Gilroy - Regular";
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
}

.price-range_from {
	margin-right: 20px;
}
.price-range_to {
	margin-right: 0;
}
.grid,
.details {
	position: relative;
}
.grid_label input,
.details_label input {
	height: 0;
	width: 0;
	opacity: 0;
	position: absolute;
}
.grid_label,
.details_label {
	display: block;
	position: relative;
	cursor: pointer;
	padding-left: 35px;
	margin-bottom: 15px;
	line-height: 19px;
	color: #283136;
}
.grid_dot:before {
	position: absolute;
	top: 0;
	left: 0;
	border: 3px solid #000000;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	content: " ";
	box-sizing: border-box;
}
.grid_dot:hover:before {
	border: 3px solid #a6a6a6;
}

.grid_label input:checked ~ .grid_dot:after {
	position: absolute;
	left: 6px;
	top: 6px;
	content: " ";
	width: 8px;
	height: 8px;
	background: #000000;
	border-radius: 50%;
	box-sizing: border-box;
}
.grid_label input:checked ~ .grid_dot:hover:after {
	background: #a6a6a6;
}
.grid_label input:checked ~ .grid_dot:active:after {
	content: " ";
	width: 0;
	height: 0;
}

.grid_dot:active:before {
	border: 3px solid #000000;
}

.grid_dot:active:after {
	position: absolute;
	left: 6px;
	top: 6px;
	content: " ";
	width: 8px;
	height: 8px;
	background: #000000;
	border-radius: 50%;
	box-sizing: border-box;
}

.grid_label input:disabled ~ .grid_dot:before {
	border: 3px solid rgba(77, 77, 77, 0.1);
}
.grid_label input:disabled ~ .grid_dot:after {
	background: rgba(77, 77, 77, 0.1);
	cursor: default;
}
.grid_label input:disabled:hover ~ .grid_dot:after {
	background: rgba(77, 77, 77, 0.1);
}
input:disabled + .grid_text {
	opacity: 0.3;
}
.card_name-text:hover {
	color: #fb565a;
}
.card_name-text:active {
	color: #000000;
	opacity: 0.3;
}
.details_checkmark:before {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid rgba(0, 0, 0, 1);
	border-radius: 3px;
	width: 20px;
	height: 20px;
	content: " ";
	box-sizing: border-box;
}
.details_checkmark:hover:before {
	border: 1px solid #a6a6a6;
}

.details_checkmark:active:before {
	border: 1px solid #000000;
}
.details_label input:disabled ~ .details_checkmark:before {
	border: 1px solid #dbdbdb;
}

.details_checkmark:active:before {
	border: 1px solid #000000;
}

.details_checkmark:active:after {
	border: solid #000000;
	position: absolute;
	left: 9px;
	top: -2px;
	content: " ";
	width: 7px;
	height: 13px;
	border: solid rgba(0, 0, 0, 1);
	border-width: 0 4px 4px 0;
	transform: rotate(45deg);
}

.details_label input:checked ~ .details_checkmark:after {
	position: absolute;
	left: 9px;
	top: -2px;
	content: " ";
	width: 7px;
	height: 13px;
	border: solid rgba(0, 0, 0, 1);
	border-width: 0 4px 4px 0;
	transform: rotate(45deg);
}

.details_label input:checked ~ .details_checkmark:hover:after {
	border: solid #a6a6a6;
	border-width: 0 4px 4px 0;
}

.details_label input:checked ~ .details_checkmark:active:after {
	content: " ";
	width: 0;
	height: 0;
	border: none;
}

.details_label input:disabled ~ .details_checkmark:after {
	border: solid rgba(77, 77, 77, 0.1);
	border-width: 0 4px 4px 0;
}
.details_label input:disabled ~ .details_checkmark:hover:after {
	border: solid rgba(77, 77, 77, 0.1);
	border-width: 0 4px 4px 0;
	cursor: default;
}
.show-button {
	cursor: pointer;
	border: none;
	width: 260px;
	height: 50px;
	background: #eeeeee;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	display: block;
	padding: 17px 89px;
	color: #000000;
}
.show-button:hover {
	background: #dfdfdf;
}
.show-button:active {
	background: #d5d5d5;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(0, 0, 0, 0.3);
}

.pagination {
	display: flex;
	gap: 11px;
}
.pagination_button {
	display: block;
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	background: #eeeeee;
	border-radius: 3px;
	box-sizing: border-box;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
}
.pagination_button--active {
	background: rgba(0, 0, 0, 0.0001);
	border: 3px solid #dbdbdb;
	line-height: 44px;
}
.pagination_button:hover {
	background: #dbdbdb;
}
.pagination_button:active {
	background: #d5d5d5;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.pagination_button:active span {
	opacity: 0.3;
}
.next-button {
	width: 260px;
}

.sort_type {
	width: 360px;
	display: flex;
	gap: 30px;
	color: #000000;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
}
.right-content {
	margin: 20px 0 0 140px;
	display: flex;
	flex-direction: column;
}

.sort a.sort_type--active {
	opacity: 1;
}
.sort a {
	color: #000000;
	opacity: 0.3;
	line-height: 24px;
}
.sort_type span {
	line-height: 24px;
}
.sort_type a:hover {
	opacity: 0.6;
}
.sort_type a:active {
	opacity: 1;
}
.sort_arrow {
	margin-right: 10px;
	display: inline-block;
	height: 0;
	width: 0;
	border-style: solid;
	border-color: transparent;
	cursor: pointer;
}

.sort_arrow--desc {
	border-width: 10px 6px 0;
	border-top-color: #a6a6a6;
	opacity: 1;
}

.sort_arrow--asc {
	border-width: 0 6px 10px;
	border-bottom-color: #a6a6a6;
	opacity: 1;
}

.sort_arrow--desc:hover {
	border-top-color: #464646;
	/* opacity: 1; */
}
.sort_arrow--asc:hover {
	border-bottom-color: #464646;
	/* opacity: 1; */
}

.sort_arrow--desc:active {
	border-top-color: #000000;
	opacity: 1;
}
.sort_arrow--asc:active {
	border-bottom-color: #000000;
	opacity: 1;
}

.content-header_text {
	margin: 0 200px;
	color: #000000;
	font-family: "Gilroy - Extra Bold";
	font-size: 47px;
	font-weight: 400;
	line-height: 48px;
	text-align: left;
	letter-spacing: 0.17px;
}

.content-header {
	position: relative;
	top: 250px;
}

.content-header_links {
	margin: 30px 200px 0;
}

.content-header_links a {
	width: 381px;
	height: 14px;
	opacity: 0.3;
	color: #000000;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;
	letter-spacing: 0.14px;
}

.content-header_links a:hover {
	opacity: 0.6;
}

.content-header_links a:active {
	opacity: 0.1;
}

.filter_header,
.sort_header {
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: "Gilroy - Extra Bold";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	height: 24px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.91px;
}

.filter_header {
	padding: 30px 188px 30px 200px;
	background: #dbdbdb;
}

.content-header_sort {
	margin-top: 30px;
	width: 100%;
	background-color: #eeeeee;
	display: flex;
}
.sort {
	display: flex;
	justify-content: space-between;
	width: 50%;
	padding: 30px 200px 30px 70px;
}

.sort_labels {
	display: flex;
	gap: 70px;
}

.content-main {
	display: flex;
	margin: 250px 200px 0 0;
}

#logout {
	opacity: 0.3;
	margin-left: 20px;
}

.separator {
	width: 201px;
	height: 2px;
	margin: 0;
	background: #000000;
}

.small-header {
	color: #000000;
	font-family: "Gilroy - Extra Bold";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	letter-spacing: 0.18px;
	margin: 0;
}

.left-filters {
	background: #eeeeee;
	width: 468px;
	padding-left: 200px;
	padding-right: 20px;
}

.fslider_circle:active {
	z-index: 1;
	width: 24px;
	height: 24px;
}

.fslider_circle:active > .fslider_circle_small--first {
}
.fslider_circle:active > .fslider_circle_small--second {
}

.fslider_circle:active .fslider_line {
	top: 10px;
}
/* .fslider_circle--first {
	position: relative;
	left: 18px;
	top: 30px;
}
.fslider_circle--second {
	position: relative;
	left: 150px;
	top: 10px;
} */
